body{
      overflow-x:hidden ;
}
.mi ul li a{
      margin-top: -80px;
      display: inline;
      font-size: 18px;
      float: right;
      margin-right:30px;
      font-weight: bold;
      color: black;
      text-decoration: none;
    
}
.mi ul li a:hover{
     transition: all ease-in-out 200ms;
    border-bottom: 5px solid indigo;
}
.word{
    margin-left: 80px;
    width: 17%;
}       
.sup h1{
      color:rgb(248, 248, 248);
      background: #6698CF;
      margin: 50px 0px 30px 110px;
      padding: 50px 0px 0px 20px;
      font-size: 50px;
      height: 200px;
     font-weight: bold;
      
}
.copy{
      margin-left:50px;
}
.copy h2{
      font-size: 30px;
}
.copy p{
      font-size: 20px;
}.copy h3{
      font-size:30px;
}
.more li a{
      text-decoration: none;
      font-size: 20px;
      color: rgb(40, 128, 168);
}
.more li a:hover{
      color: rgb(36,69,81);
}
.more{
      margin-left: 20px;
}
.out{
     margin-left: 20px;
}
.out h4{
      font-size: 30px;
}.out p{
      font-size: 22px;
}.out li a{
      text-decoration:none;
      font-size: 20px;
      color: rgb(29, 144, 197);;
}
.out li a:hover{
      text-decoration: none;
      color: rgb(23,115,162);
}
#fotter{
      color: black;
      font-size: 20px;
      border: none;
      border-top: 1px solid ;
}
.sta{
        border: none;
        text-align: center;
        width: 50%;
}
 #b{
      font-size: 15px;
      color: black;
     border-radius: 5px;
     border: 1px solid black;
}
#b:hover{
    background: rgb(204,204,204);
}
.re a{
      text-decoration: none;
      font-family: 'Times New Roman', Times, serif;
      color: white;
      font-size: 18px;
      padding: 0px 10px;
}
.re a:hover{
      text-decoration: none;
      transition: all ease-in-out 0.5s;
      padding-left: 30px;
      color:white;
}
.re{
    margin-left: 50px;
    padding: 20px
}
.poke{
      font-size: 19px;
      position: fixed;
      cursor: pointer;
      top: 80px;
      left: 20px;
      z-index: 600;
      transform: rotate(270deg)
}
#ho li{
      display: inline-block;
      margin-top: 30px;
      font-size:15px;
      margin-left:40px;
      color: white;
}
#ho li a{
    text-decoration: none;
    color: black;
    font-size: 20px
}
#sun{
    background: #FFFFFF;
    padding: 20px;
    position:fixed;
    z-index: 100;
    top: 0px;
    width: 100%;
    display: none;
}



#ho{
      margin-top: -50px;
      padding: 20px; 
}

#footer{
      font-size: 12px;
      padding-left: 30px;
      background: #33689C;
      color: white;
}
#footer a{
      text-decoration: none;  
      font-size: 12px;
      color: white;

}
#footer a:hover{
      text-decoration: underline;
      color: white;
}
.kl img{
    width: 500px;
    margin-left: 50px;
    height: 500px
}
.year{
    line-height: 1.5;
    margin-left: 80px;
    font-size: 25px;
    margin-top: 30px
}
@media(max-width: 990px) {
      .copy{
            margin-left: 10px;
      }
      .kl img{
            width: 100%;
      }
      
      #c{
            width: 20%;
      }
      #ho{
            font-size:14px;
            margin-left:40px;
           
      }
      #ho li a{
            display: inline-block;
            font-size:18px;
            color: black;
            text-decoration: none;
      }
    
}
@media screen and (max-width:768px) {
      .poke{
           
            width: 15%;
            cursor: pointer;
            transform: rotate(0deg);
            position: relative;
            margin-left: 20px;
            margin-top: -20px;
      }
    .word{
        margin-left: 190px;
        width: 25%;
    }
    .mi ul li {
       display: none;
    }
    .sup h1{
        margin-left: 20px
    }
    .copy{
            margin-left: 10px;
      }
      .kl img{
            width: 100%;
            height: 350px;
          margin-left: 10px;
      }
      
      #c{
            width: 20%;
      }
      #ho{
            font-size:14px;
            margin-left:40px;
           
      }
      #ho li a{
            display: inline-block;
            font-size:18px;
          color: black;
          text-decoration: none;
      }
    
}
#code {
      display: inline;
   }
   #can{
       font-size: 14;
       border-radius: 5px;
       padding: 2px;
       border: 1px solid rgb(54,50,50);
   }