@media screen and (min-width:768px) {
    body{ 
    background-image:url("image/tech.jpg"); 
    overflow-x: hidden;
    }
    h1{ 
        color:white;
        padding: 20px 10px 20px;
        margin-left: 10px;
    }
    .is{ 
        color:white;
        letter-spacing: 2px;
        font-size: 16px;
        margin-left: 30px;
    }
    .own{ 
        margin-top: 100px;
        width: 130%;
        height: 300px
    }
    .money span{
        color: white;
    }
    .money p{
        font-size: 30px;
        color: white;;
    }
    .money{
        border: none;
        border-left: 2px solid white;
        margin-top: 10px;
        padding: 10px 10px ;
        font-size: 15px;
        line-height: 2
    }
    h5{
        color:orange;
        font-size: 35px;
    }
    #this tr{
        text-align: center;
        border-collapse: collapse;
        border-spacing: 2px;
        color: rgb(238, 228, 228);
        border-bottom: 2px solid rgb(238, 228, 228);;
        border-top: 2px solid rgb(238, 228, 228);;
        
    }
    #this tr:hover{ 
        padding:10px; 
        color:rgb(8, 7, 7);
    }
    .ton{
        border: 2px solid orange;
        border-radius: 10px;
        width:15%;
        margin-left:10px;
        font-size: 20px;
        background: orange;
        color: white;

    }
    .app{
        border: 2px solid orange;
        background: transparent;
        color: white;
        border-radius: 10px;
        font-size: 20px;
        margin-left: 200px;
        width:200px;
    }
    .app:hover{
        background: orange;
        color: white;
    }
    .h1{ 
        background: white;
        color:black;
        text-align: center;
        margin-top:10px;
        padding-bottom: 250;

    }
    .col-3 img{
        margin-left: 10px;
        width: 50%;
        height: 40px;
        margin-top: 40px;
    }
    .container{
        margin-top: 30px
    }
    .col-7 {
        margin-left: -30px;
        margin-top: 40px
    }
    .col-7 li a{
    color: white;
        
    }
    .col-7 li a:hover{
        text-decoration: none;
        color: white;
        transition: all ease-in 200ms;
        padding-top: -10px;
        border-bottom: 1px solid orange;
    }
    #ma{
    margin-left: 35px;
        margin-top: -10px;
        padding: -10px
    }
    #that{
        border: none;
        background: transparent;
        color: white;
        font-size: 20px;
        margin-top: 0px;
        margin-left: -10px
    }
    .col-2{
        margin-top: 30px;
        margin-left: 30px
    }
    .col-2 img{
        background: white;
        width: 20%;
        height: 30%;
        margin-left: 10px
        
    }
    hr{ 
        margin-top:-45px;

    }.tan{ 
        color: black;
        background: white;
        background-color:white;
        font-size: 10px;
        margin-left: 70px;
        margin-top: 50px;
        width: 90%
    }

    .you{
        background: white;
        color:black;
        font-size: 18px;
        border:2px solid rgb(230,226,226);
    

    }
    .batch{
        border-radius: 20px;
        border: 2px solid white;
        background: orange;
        font-size: 20px;
        margin-top: -40px;
        float: right;
        width: 20%;
    }
    .batch:hover{
        background: white;
        color: orange;
    }
    .pack{
        color: black;
        font-size: 40px;
        text-align: center;
        padding: 30px;
    }
    .fat{
        margin-top: 50px;
        font-size: 20px;
        width: 90%

    }
    #this{
        margin-left: 120px;
        width: 60%;
    }
    .five{
        text-align: center;
        
    }
    .five button{
        background: #F3BF50;
        padding: 5px;
        width: 25%;
    }
    .sad{
        height: 50px;
        display: none;
    }
    .seun{
        display: none;
        padding: 100px 10px 30px 10px;
    }

}
@media screen and (max-width:990px) {
    body{ 
        background-image:url("image/tech.jpg"); 
        }
    #login{
        width: 10%;
        margin-top: 10px;
        margin-right: 40px;
        
    }
    .ton{
        width:30%;
        margin-left: 10px;
    }
   .mac{
       margin-left: -30px;
   }
   .now{
       margin-left:10px;
   }
   .batch{
       width: 30%;
       margin-left: 140px;
   }
   .hold{
       font-size: 20px;
   }

}
@media screen and (max-width:768px){
    body{ 
        background-image:url("image/tech.jpg"); 
        }
    .seun{
        display:block;
    }
    #face i{
        font-size: 20px;
        color: white;
        margin-left: 20px;
    }
    .tan{
        margin-left: 0px
    }
    .money{
        margin-left: 20px;
        padding-bottom: 10px;
    }
    .money span{
        font-size: 10px;
        margin-top: -10px;
    }
    .is{
        margin-left: 20px;
    }
    .five button{
       font-size: 12px
    }
    .col-7 {
    display: none;
    }
    .col-2 img{
        display: none;
    }
    #that{
        margin-left: 150px;
        margin-top: -20px;
    }
    .col-3 img{
        margin-left: 20px;
        width: 100%;
        margin-top: 20px;
        height: 50px
    }
    .col-sm-6{
        margin-left: 0px;
    }
    .col-sm-6 h1{
        margin-left: 20px
    }
    #this{
        margin-left: -2px
    }
    li>button{
        color: white;
    }
    #this{
        margin-left: -20px;
        width: 10%;
    }
    .own {
        width: 100%;
    }
    .sad{
        display: block;
        font-size: 15px;
        margin-top: -40px;
    }
    .dis li{
        display: none;
    }
    #this{
        margin-left:50px;
        width: 60%;
        
    }
    #this tr{
        border-collapse: collapse;
        border-spacing: 2px;
        color: rgb(238, 228, 228);
        border-bottom: 2px solid rgb(238, 228, 228);;
        border-top: 2px solid rgb(238, 228, 228);
        margin-left: 30px;
        
    }
    #this tr:hover{ 
        padding:10px; 
        color:rgb(236, 222, 222);
    }
    .money span{
        color: white;
        font-size: 10px
    }
    .own{
        margin-left: 30px;
        width: 350px;
    }
    .money{
        width: 250px;
        border: none;
        border-left:  2px solid white;
        
    }
    .sad{
        float: right;
        display: block;
        font-size: 15px;
        margin-top: -40px;
    }
    #that{
        margin-top: 30px;
        border: none;
        background: none;
        color: white;
        font-size: 20px;
    }
    .five{
        text-align: center;
        
    }
    .five button{
        background: #F3BF50;
        padding: 5px;
        width: 25%;
    }
    #nopro p{
        margin-left: 30px;
}
    #nopro h5{
        margin-left: 30px;
    }
    #pro p{
        margin-left: 20px;
    }
    #pro h5{
        margin-left: 20px;
    }
     #this{
        margin-left:50px;
        width: 60%;
        
    }
    #this tr{
        
        border-collapse: collapse;
        border-spacing: 2px;
        color: rgb(134, 6, 6);
        border-bottom: 2px solid rgb(238, 228, 228);;
        border-top: 2px solid rgb(238, 228, 228);
        margin-left: 30px;
        
    }
    #this tr:hover{ 
        padding:10px; 
        color:rgb(247,246,246);
        background: orange;
    }
}